@mixin fontinators {
  --font-eb-garamond: 'EB Garamond';
  --font-montserrat: 'Montserrat';
  --font-sans-serif: 'sans-serif';
  --font-roboto: 'Roboto';
  --font-times-new-roman: 'Times New Roman';
  --font-source-code-pro: 'Source Code Pro';
  --open-sans: 'Open Sans';

  --font-primary-font-title: var(--font-eb-garamond, --font-times-new-roman);
  --font-primary-paragraph: var(--open-sans, --font-montserrat, --font-sans-serif);
  --font-sub-title: var(--font-source-code-pro);
}
